<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${question.title}"></title><!--刚开始样式没有加载：-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/><!--css/bootstrap.min.css：是与profile.html同级目录,
    http://localhost:8887/profile/questions:目录没有这些样式，加上/：表示这些资源的引入不是基于当前文件目录-->
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/moment.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>
</head>
<body>

<div th:insert="navigation::nav"></div>
<div class="container-fluid main profile">
    <div>
        <!--左边主要正文-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">

            <!--正文-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4 class="question-title"><span th:text="${question.title}"></span></h4>
                <span class="text-desc">
                    作者：<span th:text="${question.user.name}"></span> |
                    阅读数： <span th:text="${question.viewCount}"></span> |
                    发布时间：<span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
                </span>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <!--内容-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:text="${question.description}"></div>

                <!--标签-->
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <span class="label label-info question-tag" th:each="tag : ${question.tag.split(',')}">
                        <span class="glyphicon glyphicon-tags"></span>
                        <span class="label label-info " th:text="${tag}"></span>
                    </span>
                </div>

                <!--编辑-->
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a th:href="@{'/publish/'+${question.id}}" class="community-menu"
                       th:if="${session.user!=null && session.user.id == question.creator}">
                        <!--当前会话的user不为空，且user的id=question的creator时，才显示编辑这个标签-->
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true">编辑</span>
                    </a>
                </div>
            </div>

            <!--回复-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>
                    <span th:text="${question.commentCount}"></span> 个回复
                </h4>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-sp">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comments" th:each="comment : ${commnets}">
                    <!--头像-->
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class=" media-object-self media-object img-rounded"
                                     th:src="${comment.user.avatarUrl}">
                            </a>
                        </div>
                        <div class="media-body" th:id="${'comment-body-'+comment.id}">
                            <h5 class="media-heading">
                                <span th:text="${comment.user.name}"></span>
                            </h5>
                            <div th:text="${comment.content}"></div><!--文本内容-->
                            <div class="menu">
                                <span class="glyphicon glyphicon-thumbs-up icon"></span>
                                <!--二级评论有很多，用级联,有回复问题的评论，和回复评论的评论，这里直接用data-->
                                <!--th:id="${'comment-'+comment.id}"  data-id="66"是当前评论的id-->
                                <!--this 打印时 == span这个标签-->
                                <span th:data-id="${comment.id}"
                                      onclick="collapseComments(this)" class="comment-icon">
                                     <span class="glyphicon glyphicon-comment"  ></span>
                                    <span  th:text="${comment.commentCount}"></span>
                                </span>

                                <!--commentCount:获取评论数，要改数据库-->
                                <span class="pull-right"
                                      th:text="${#dates.format(comment.gmtCreate,'yyyy-MM-dd')}"></span>
                            </div>
                            <!--当点击collapseComments，触发事件，获取到th:id="${'comment-body-'+comment.id}"这个元素，然后往这个元素追加标签。把二级评论的元素追加到menu这个div后面-->

                            <!--二级评论-->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 collapse sub-comments"
                                 th:id="${'comment-'+comment.id}">
                                <!--这个div的id是comment-评论id-->

                                <!--//二级评论在js那里了-->

                                <!--把这个评论框放入二级评论div中-->
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <!--把这个标签的id设置成动态的-->
                                    <input type="text" class="form-control" placeholder="评论一下。。"
                                           th:id="${'input-'+comment.id}">
                                    <button type="button" class="btn btn-success pull-right btn" onclick="comment(this)"
                                            th:data-id="${comment.id}">评论
                                    </button>
                                    <!--通过data这个属性，拿到comment的id，通过'input-'+comment.id}拿到评论的内容，传入的参数是this：整个标签-->
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!--回复输入框-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4 class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    提交回复
                </h4>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-sp">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="comment_section">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class=" media-object-self media-object img-rounded"
                                     th:src="${question.user.avatarUrl}">
                            </a>
                        </div>
                        <div class="media-body">
                            <h5 class="media-heading">
                                <span th:text="${question.user.name}"></span>
                            </h5>
                        </div>
                    </div>
                    <input type="hidden" id="question_id" th:value="${question.id}">
                    <!--这里也给一个id属性,然后通过id获取文本域的内容-->
                    <textarea class="form-control comment" rows="6" id="comment_content"></textarea>
                    <!--回复这里绑定一个方法,通过post方法获取questionId 的值：id=”question_id“-->
                    <button type="button" class="btn btn-success btn-comment" onclick="post()">回复</button>
                </div>
            </div>

        </div>

    </div>

    <!--右边信息块-->
    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 ">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <h4>发起人</h4>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class=" media-object-self media-object img-rounded "
                             th:src="${question.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <h5 class="media-heading">
                        <span th:text="${question.user.name}"></span>
                    </h5>
                </div>
            </div>
        </div>
        <!--软广-->
        <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <h4>相关推广</h4>
            <img class="img-thumbnail question-guanggao" src="/img/xinliu.jpg">
        </div>

        <!--相关问题-->
        <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <h4>相关问题</h4>
            <ul class="question-related">
                <li th:each="related : ${relatedQuestions}">
                    <a th:href="@{'/question/'+${related.id}}" th:text="${related.title}"></a>
                </li>
            </ul>
        </div>
    </div>
</div>


</body>
</html>